# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
.vite

# Environment
.env
.env.local
.env.*.local
.dev.vars

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Misc
*.tmp
.cache
